<form [formGroup]="taskForm" (ngSubmit)="onSubmit()"class="task-form">
  <mat-card>
    <mat-card-content>
      <h1>{{submitButtonName}}</h1>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field class="mat-50">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input formControlName="dueDate" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker #picker />
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card-footer>
    <button mat-raised-button type="submit">{{ submitButtonName }}</button>
  </mat-card-footer>
</form>
